<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Flask上传图片演示</title>
</head>
<body>
    <h1 class="col-md-2 offset-md-5">证件信息</h1>
    <div class="container" id="idCard" d="{{ card_info }}">
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>姓名：</p>
            </div>
            <div class="col-md-3">
                <p id="cardName"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>性别：</p>
            </div>
            <div class="col-md-3">
                <p id="cardSex"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>民族:</p>
            </div>
            <div class="col-md-3">
                <p id="cardEthnicity"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>年：</p>
            </div>
            <div class="col-md-3">
                <p id="cardYear"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>月：</p>
            </div>
            <div class="col-md-3">
                <p id="cardMonth"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>日：</p>
            </div>
            <div class="col-md-3">
                <p id="cardDay"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>地址：</p>
            </div>
            <div class="col-md-6">
                <p id="cardAddress"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 offset-md-4">
                <p>证件号：</p>
            </div>
            <div class="col-md-3">
                <p id="cardIDNumber"></p>
            </div>
        </div>
    </div>
    <!--<img src="{{ url_for('static', filename= './images/test.jpg',_t=val1) }}" width="400" height="400" alt="你的图片被外星人劫持了～～"/><script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/uploadokScript.js"></script>
</body>
</html>