<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>证件智能识别与检测系统</title>
</head>
<body>
    <div class="container">
        <div class="item-1 ">
            <h1 style="color: white;" class="title1">证件智能识别与检测系统</h1>
        </div>
        <div class="item-2">
            <form action="" enctype="multipart/form-data" method="post">
                <div class="item2-1">
                    <img id="previewImg" style="width: 450px; height: 200px">
                </div>
                <div class="item2-2">
                    <button type="submit">上传</button>
                </div>
                <div class="item2-3">
                    <input id="imgSelect" onchange="selectImg(this)" type="file" >
                </div>
            </form>
        </div>
        <div class="item-3">
            <div class="item3-1">
                <img src="">
            </div>
            <div class="item3-2">
                <button>解析</button>
            </div>
            <div class="item3-3">
                <img src="">
            </div>
        </div>
        <div class="item-4">
            <div class="item4-1">
                <h2>证件信息</h2>
            </div>
            <form>
                <div class="item4-2">
                    <span>姓名：</span><input type="text">
                </div>
                <div class="item4-3">
                    <span>性别：</span><input type="text">
                </div>
                <div class="item4-4">
                    <span>民族：</span><input type="text">
                </div>
                <div class="item4-5">
                    <span>出生：</span><input type="text">年<input type="text">月<input type="text">日
                </div>
                <div class="item4-6">
                    <span>地址：</span><input type="text">
                </div>
                <div class="item4-7">
                    <span>ID号：</span><input type="text">
                </div>
                <div class="item4-8">
                    <img src="">
                </div>
                <div class="item4-9">
                    <button>修改</button>
                </div>
            </form>
        </div>
    </div>
<script src="../static/js/uploadokScript.js"></script>
</body>
</html>